                @import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
                body {
                    font-family: 'Poppins', sans-serif;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                    color: #212112;
                    /* background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg'); */
                    background-position: center;
                    background-repeat: repeat;
                    background-size: 7%;
                    background-color: #E7F2F8;
                    overflow-x: hidden;
                    transition: all 200ms linear;
                    margin: 0px 0px;
                }
                /* #Navigation
================================================== */
                
                .bg-light {
                    background-color: #74BDCB;
                }
                
                .start-header {
                    opacity: 1;
                    transform: translateY(0);
                    padding: 20px 0;
                    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
                    -webkit-transition: all 0.3s ease-out;
                    transition: all 0.3s ease-out;
                }
                
                .navigation-wrap {
                    background-color: #74BDCB;
                    position: fixed;
                    width: 100%;
                    top: 0;
                    left: 0;
                    z-index: 999999;
                    -webkit-transition: all 0.3s ease-out;
                    transition: all 0.3s ease-out;
                }
                
                .navbar {
                    padding: 0;
                    background-color: #74BDCB;
                }
                
                .navbar-brand {
                    font-size: 1.5rem;
                    font-weight: bold;
                }
                /*.navbar-brand img {
    height: 50px;
    width: auto;
    display: block;
    filter: brightness(10%);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
} */
                /* .navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #000;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #000;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
    top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
} */
                /* .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

.nav-link {
    color: #212121 !important;
    font-weight: 500;
    transition: all 200ms linear;
}

.nav-item:hover .nav-link {
    color: #8167a9 !important;
}

.nav-item.active .nav-link {
    color: #777 !important;
}

.nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
}

.nav-item:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #8167a9;
    opacity: 0;
    transition: all 200ms linear;
}

.nav-item:hover:after {
    bottom: 0;
    opacity: 1;
}

.nav-item.active:hover:after {
    opacity: 0;
}

.nav-item {
    position: relative;
    transition: all 200ms linear;
} */
                /* home page */
                
                .card {
                    box-shadow: 2px 3px 2px 2px #656565;
                    border-radius: 15px;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    background-color: #ffffffcf;
                }
                
                .card h1 {
                    font-size: 2rem;
                    font-weight: 600;
                    margin-top: 20px;
                    margin-bottom: 15px;
                    margin-left: 20px;
                    color: #000000c5;
                }
                
                .card h4 {
                    font-size: 1.2rem;
                    font-weight: 400;
                    margin-top: 5px;
                    margin-bottom: -15px;
                    margin-left: 30px;
                }
                
                .l1-left {
                    text-align: left;
                    padding: 0px 18rem 0px 0px;
                }
                
                .card p {
                    font-size: 1rem;
                    font-weight: 300;
                    margin-bottom: 15px;
                    margin-left: 30px;
                }
                /* detail page */
                
                .detail-card {
                    box-shadow: 2px 3px 2px 2px #b3b1b1;
                    border-radius: 15px;
                    padding: 20px 20px;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    background: #fafafa;
                }
                
                .detail-card h1 {
                    font-size: 2.5rem;
                    font-weight: 600;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    margin-left: 20px;
                }
                
                .detail-card h4 {
                    font-size: 1.5rem;
                    font-weight: 400;
                    margin-top: 15px;
                    margin-bottom: 5px;
                    margin-left: 30px;
                }
                
                .detail-card p {
                    font-size: 1rem;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: justify;
                }
                
                .edit-button {
                    background-color: #e4f00e;
                    box-shadow: 2px 3px 2px 2px #b3b1b1;
                    border-radius: 5px;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    margin-left: 15px;
                    height: 30px;
                    width: 30px;
                }
                
                .delete-button {
                    background-color: #f00543;
                    box-shadow: 2px 3px 2px 2px #b3b1b1;
                    border-radius: 5px;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    margin-left: 15px;
                    height: 30px;
                    width: 30px;
                }
                
                .mod-btn {
                    margin-left: 15px;
                }
                
                .remove-btn {
                    margin: 20px 20px;
                    font-size: 1.5rem;
                    color: white;
                    font-weight: 500;
                    width: 15%;
                    background-color: #f00543;
                    border-radius: 10px;
                    box-shadow: 2px 3px 2px 2px #b3b1b1;
                }
                /* search form */
                
                .search-form {
                    box-shadow: 2px 3px 2px 2px #c9c5c5;
                    border-radius: 10px;
                    padding: 20px 20px;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    text-align: center;
                    background-color: #383838;
                }
                
                .search-bar {
                    width: 60%;
                    margin-left: 0;
                    margin-right: 0;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                
                .search-bar input {
                    width: 80%;
                    border-radius: 6px;
                }
                
                .author-bar {
                    width: 20%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                
                .author-bar input {
                    border-radius: 6px;
                }
                
                .dropdown-bar {
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    border-radius: 6px;
                }
                
                .search-button {
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    border-radius: 6px;
                    background-color: #fcfcf7;
                }
                /* login page */
                
                .login-page {
                    width: 360px;
                    padding: 8% 0 0;
                    margin: auto;
                }
                
                .login-page .form {
                    position: relative;
                    z-index: 1;
                    background: #FFFFFF;
                    max-width: 360px;
                    margin: 0 auto 100px;
                    padding: 45px;
                    text-align: center;
                    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
                }
                
                .login-page .form input {
                    font-family: "Roboto", sans-serif;
                    outline: 0;
                    background: #f2f2f2;
                    width: 100%;
                    border: 0;
                    margin: 0 0 15px;
                    padding: 15px;
                    box-sizing: border-box;
                    font-size: 14px;
                }
                
                .login-page .form button {
                    font-family: "Roboto", sans-serif;
                    text-transform: uppercase;
                    outline: 0;
                    background: #4CAF50;
                    width: 100%;
                    border: 0;
                    padding: 15px;
                    color: #FFFFFF;
                    font-size: 14px;
                    -webkit-transition: all 0.3 ease;
                    transition: all 0.3 ease;
                    cursor: pointer;
                }
                
                .login-page .form button:hover,
                .form button:active,
                .form button:focus {
                    background: #43A047;
                }
                
                .login-page .form .message {
                    margin: 15px 0 0;
                    color: #b3b3b3;
                    font-size: 12px;
                }
                
                .login-page .form .message a {
                    color: #4CAF50;
                    text-decoration: none;
                }
                
                .form .register-form {
                    display: none;
                }
                
                .login-page .container {
                    position: relative;
                    z-index: 1;
                    max-width: 300px;
                    margin: 0 auto;
                }
                
                .login-page .container:before,
                .container:after {
                    content: "";
                    display: block;
                    clear: both;
                }
                
                .login-page .container .info {
                    margin: 50px auto;
                    text-align: center;
                }
                
                .login-page .container .info h1 {
                    margin: 0 0 15px;
                    padding: 0;
                    font-size: 36px;
                    font-weight: 300;
                    color: #1a1a1a;
                }
                
                .login-page .container .info span {
                    color: #4d4d4d;
                    font-size: 12px;
                }
                
                .login-page .container .info span a {
                    color: #000000;
                    text-decoration: none;
                }
                
                .login-page .container .info span .fa {
                    color: #EF3B3A;
                }
                /* contact section */
                
                .contact-section {
                    background-color: #f2f2f2;
                    /* box-shadow: 0px 0px 10px 0px #0a0a0a; */
                    margin: 0px 0px;
                    bottom: 0px;
                }
                
                .cs-copy {
                    text-align: center;
                }
                
                .cs-copy p {
                    font-size: 0.8rem;
                    margin-bottom: 5px;
                    color: #4d4e4f;
                }
                
                .info {
                    text-align: center;
                }
                
                .info p {
                    display: inline;
                    margin-left: 20px;
                    margin-right: 20px;
                    font-size: 1rem;
                    font-weight: bold;
                }
                
                .self {
                    text-align: center;
                }
                
                .self h1 {
                    font-size: 1rem;
                }
                
                .social-icons {
                    padding: 0;
                    list-style: none;
                    margin: 1em;
                }
                
                .social-icons li {
                    display: inline-block;
                    margin: 0.15em;
                    position: relative;
                    font-size: 1.2em;
                }
                
                .social-icons i {
                    color: #fff;
                    position: absolute;
                    top: 12px;
                    left: 12px;
                    transition: all 265ms ease-out;
                }
                
                .social-icons a {
                    display: inline-block;
                }
                
                .social-icons a:before {
                    transform: scale(1);
                    -ms-transform: scale(1);
                    -webkit-transform: scale(1);
                    content: " ";
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    display: block;
                    background: linear-gradient(45deg, black, black);
                    transition: all 265ms ease-out;
                }
                
                .social-icons a:hover:before {
                    transform: scale(0);
                    transition: all 265ms ease-in;
                }
                
                .social-icons a:hover i {
                    transform: scale(2);
                    -ms-transform: scale(2);
                    -webkit-transform: scale(2);
                    color: black;
                    background: -webkit-linear-gradient(45deg, black, black);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transition: all 265ms ease-in;
                }
                /* admin page */
                
                .admin-pp {
                    box-shadow: 2px 3px 2px 2px #b3b1b1;
                    background: #fafafa;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    border-radius: 18px;
                }
                
                .admin-pp-img img {
                    width: 80%;
                }
                
                .admin-pp-img {
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                }
                
                .admin-pp h1 {
                    font-size: 2.5rem;
                    font-weight: 600;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    padding-top: 20px;
                }
                
                .admin-pp h3 {
                    font-size: 1rem;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    margin-left: 10px;
                }
                
                .admin-head {
                    font-size: 2.5rem;
                    font-weight: 700;
                    margin-top: 30px;
                    margin-bottom: 40px;
                    text-align: center;
                }
                
                .admin-pp hr {
                    color: #b3b1b1;
                    border: 1px solid #b3b1b1;
                    text-align: center;
                }
                
                .admin-pp .c1 {
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                }
                
                .admin-pp .c2 {
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                }
                
                .admin-pp .c3 {
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                }
                
                .admin-pp button {
                    border-radius: 10px;
                    margin-top: 2px;
                    margin-bottom: 20px;
                    font-size: 1rem;
                }
                
                table {
                    border: 1px solid #ccc;
                    border-collapse: collapse;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    table-layout: fixed;
                }
                
                table caption {
                    font-size: 1.5em;
                    margin: .5em 0 .75em;
                }
                
                table tr {
                    border: 1px solid #ddd;
                    padding: .35em;
                }
                
                table th,
                table td {
                    padding: .625em;
                    text-align: center;
                }
                
                table td {
                    font-size: 0.9rem;
                }
                
                table th {
                    font-size: .85em;
                    letter-spacing: .1em;
                    text-transform: uppercase;
                }
                
                @media screen and (max-width: 600px) {
                    table {
                        border: 0;
                    }
                    table caption {
                        font-size: 1.3em;
                    }
                    table thead {
                        border: none;
                        clip: rect(0 0 0 0);
                        height: 1px;
                        margin: -1px;
                        overflow: hidden;
                        padding: 0;
                        position: absolute;
                        width: 1px;
                    }
                    table tr {
                        border-bottom: 3px solid #ddd;
                        display: block;
                        margin-bottom: .625em;
                    }
                    table td {
                        border-bottom: 1px solid #ddd;
                        display: block;
                        font-size: .8em;
                        text-align: right;
                    }
                    table td::before {
                        /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
                        content: attr(data-label);
                        float: left;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                    table td:last-child {
                        border-bottom: 0;
                    }
                }
                /* #Media
================================================== */
                
                @media (max-width: 767px) {
                    .nav-item:after {
                        display: none;
                    }
                    .nav-item::before {
                        position: absolute;
                        display: block;
                        top: 15px;
                        left: 0;
                        width: 11px;
                        height: 1px;
                        content: "";
                        border: none;
                        background-color: #000;
                        vertical-align: 0;
                    }
                    .dropdown-toggle::after {
                        position: absolute;
                        display: block;
                        top: 10px;
                        left: -23px;
                        width: 1px;
                        height: 11px;
                        content: "";
                        border: none;
                        background-color: #000;
                        vertical-align: 0;
                        transition: all 200ms linear;
                    }
                    .dropdown-toggle[aria-expanded="true"]::after {
                        transform: rotate(90deg);
                        opacity: 0;
                    }
                    .dropdown-menu {
                        padding: 0 !important;
                        background-color: transparent;
                        box-shadow: none;
                        transition: all 200ms linear;
                    }
                    .dropdown-toggle[aria-expanded="true"]+.dropdown-menu {
                        margin-top: 10px !important;
                        margin-bottom: 20px !important;
                    }
                    body.dark .nav-item::before {
                        background-color: #fff;
                    }
                    body.dark .dropdown-toggle::after {
                        background-color: #fff;
                    }
                    body.dark .dropdown-menu {
                        background-color: transparent;
                        box-shadow: none;
                    }
                    /* detail page */
                    .detail-card {
                        text-align: center;
                    }
                    .detail-card h1 {
                        font-size: 2rem;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    .detail-card h4 {
                        font-size: 1rem;
                        margin-left: 15px;
                    }
                    .detail-card p {
                        font-size: 1rem;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    /* search form */
                    .search-bar {
                        width: 90%;
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }
                    .search-bar input {
                        width: 100%;
                    }
                    .author-bar {
                        width: 90%;
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }
                    .author-bar input {
                        width: 100%;
                    }
                    .dropdown-bar {
                        margin-top: 5px;
                        margin-bottom: 5px;
                        width: 90%;
                    }
                    .search-button {
                        margin-top: 5px;
                        margin-bottom: 5px;
                        width: 60%;
                    }
                }
                
                .main-heading {
                    display: flex;
                    align-items: center;
                    /* justify-content: space-between; */
                }
                
                .upvote {
                    margin-left: 1rem;
                    /* background-color: #000; */
                }
                
                .downvote {
                    margin-left: 1rem;
                    /* background-color: #000; */
                }
                
                .head {
                    margin-left: 1rem;
                    padding: 26px 20px 0px 0px;
                }